.navbar {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #F7F7F7;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    cursor: pointer;
    margin-left: 2vw;
}

.linksContainer {
    margin-right: 2vw;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

a {
    color: #000;
    text-decoration: none;
}

.inactive a{
    text-decoration: none;
}

.active a{
    text-decoration: underline;
}

#login a{
    background-color: #303030;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: #FFF;
}
