.body{
    background: #303030;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.content{
    display: flex;
    padding-top: 20px;
}

.main{
    float: left;
    width: 75%;
    padding-left: 20px;
    background-color: #d9d9d9;
}

.right{
    float: left;
    width: 25%;
    padding-left: 20px;
}

.stocks{
    background-color: #d9d9d9;
    padding: 20px;
}

.notes{
    background-color: #d9d9d9;
    padding: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .main, .right {
      width: 100%;
      padding: 20px 0;
    }
    .main {
      margin-right: 0;
    }
}