.body{
    background: #303030;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.content{
    display: flex;
    padding-top: 20px;
}

.main{
    float: left;
    width: 75%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 30px;
    box-sizing: border-box; 
    flex-direction: row;
}

.right{
    float: left;
    width: 25%;
    padding-left: 20px;
}

.stocks{
    background-color: #d9d9d9;
    padding: 20px;
    height: 175px;
    box-sizing: border-box;
}

.spacer{
    height: 25px;
}

.notes{
    background-color: #090909;
    padding-top: 7px;
    margin-top: 20px;
    height: 175px;
    box-sizing: border-box;
}

.folder{
    position: relative;
    width: 100%;
    height: 100%;
    background: #d9d9d9;
    border-radius: 0 5px 5px 5px;
}

.folder::after{
    content: "";
    position: absolute;
    bottom: 98%;
    left: 0;
    width: 80px;
    height: 25px;
    background: #d9d9d9;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .main, .right {
      width: 100%;
      padding: 20px 0;
    }
    .main {
      margin-right: 0;
    }
}


.leftColumn {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.outerContainer {
    padding: 30px; 
}

.switch {
    background-color:black;
    width: 106px;
    height: 40px;
    border-radius: 75px; 
    display: flex;
    align-items: center;
    padding: 3px;
}

.switchButton {
    cursor: pointer;
    background-color: #D9D9D9;
    width: 55px;
    height: 38px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;

}

.filter {
    background-color: #D9D9D9;
    height: 35px;
    width: 95px;
    cursor: pointer;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterContainer {
    position: relative;
    background-color: black;
    height: 430px;
    width: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 15px; 
    
}

.clicked {
    background-color: #A6FFA1;
  }


.rightColumn {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 80%;
    box-sizing: border-box;
  }


.contentBox {
    background-color: white;
    height: 485px;
    width: 100%;
    position: relative;

}

.redButtonRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
}

.generateButton {
    background-color: #f64740;
    height: 45px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.saveResultsButton {
    background-color: #f64740;
    height: 45px;
    width: 130px;
    cursor: pointer;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderLabel{
    font-size: 75%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider{
    -webkit-appearance: none;
    -webkit-transition: none;
    appearance: none; 
    background: black;
    opacity: 0.7;
    transition: opacity .2s;
    outline: none;
    border-radius: 10px;
    height: 15px;
}

.slider:hover{
    opacity: 1;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    background: #A6FFA1;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #A6FFA1;
  }
  

